pdfplumber
gdown
fastapi
uvicorn
pydantic
python-multipart
pydantic-settings
sentence_transformers
python-jose[cryptography]
passlib[bcrypt]
pandas
numpy
torch
pymongo
faiss-cpu
ollama
langchain
longtrainer
langchain_ollama
langchain_community
langchain_huggingface
starlette
transformers
scikit-learn
python-dotenv
tqdm
einops
spaces
timm
samv2
gradio
supervision
opencv-python
pytest